# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# PyCharm
.idea/

# Environment and secrets
.env
kaggle.json

# Data
data/raw/
data/processed/
*.csv
*.xlsx
*.parquet
*.zip

# OS
.DS_Store

# Logs
*.log